<header class="header">
    <div class="inner">
        <div class="site-title">
            <h1>
                <a href="{{ '/' | url }}">Consumption Explored</a>
            </h1>
        </div>
        <nav class="site-nav">
            <ul class="nav">
                <li class="nav_link">
                    <div class="nav_link_title">Internet</div>
                    <ul class="subnav">
                        {% for post in collections.internet %}
                            {% if post.data.unlisted != true %}
                            <li class="subnav_link">
                                {% include "thumb.njk" %}
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav_link">
                    <div class="nav_link_title">Media</div>
                    <ul class="subnav">
                        {% for post in collections.media %}
                            <li class="subnav_link">
                                {% include "thumb.njk" %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav_link">
                    <div class="nav_link_title">Entertainment</div>
                    <ul class="subnav">
                        {% for post in collections.entertainment %}
                            <li class="subnav_link">
                                {% include "thumb.njk" %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav_link">
                    <div class="nav_link_title">Fashion</div>
                    <ul class="subnav">
                        {% for post in collections.fashion %}
                            <li class="subnav_link">
                                {% include "thumb.njk" %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav_link">
                    <div class="nav_link_title">Food</div>
                    <ul class="subnav">
                        {% for post in collections.food %}
                            <li class="subnav_link">
                                {% include "thumb.njk" %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav_link">
                    <div class="nav_link_title">Drugs</div>
                    <ul class="subnav">
                        {% for post in collections.drugs %}
                            <li class="subnav_link">
                                {% include "thumb.njk" %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>