<footer class="footer">
  <div class="inner">
    <p><strong>Designer:</strong> Serena Ng</p>
    <p><strong>Sources:</strong></p>
    <!-- 5. Update your sources -->
    <ul class="sources">
      <li class="source_link"><a href="https://cew.georgetown.edu/cew-reports/valueofcollegemajors/#resources">Georgetown University. The Economic Value Of College Majors. 2015.</a></li>
      <li class="source_link"><a href="https://cew.georgetown.edu/cew-reports/the-college-payoff/">Georgetown University. The College Payoff. 2011.</a></li>
      <li class="source_link"><a href="https://www.forbes.com/advisor/student-loans/average-salary-college-graduates/">Forbes Advisor. Average Salaries Of College Graduates. 2022.</a></li>
      <li class="source_link"><a href="https://cew.georgetown.edu/cew-reports/the-college-payoff/">Urban Institute. Understanding College Affordability. 2016.</a></li>
      <li class="source_link"><a href="https://www.usnews.com/education/best-colleges/paying-for-college/articles/see-how-student-loan-borrowing-has-changed#:~:text=The%20average%20student%20loan%20debt,according%20to%20U.S%20News%20data.">U.S. News. See How Average Student Loan Debt Has Changed. 2022.</a></li>
      <li class="source_link"><a href="https://cew.georgetown.edu/cew-reports/the-college-payoff/">IZA World of Labor. Is the return to education the same for everybody? 2012.</a></li>
      <li class="source_link"><a href="https://www-sciencedirect-com.ezproxy.neu.edu/science/article/pii/S0272775715300224">ScienceDirect. Are college costs worth it? How ability, major, and debt affect the returns to schooling. 2016.</a></li>
      <li class="source_link"><a href="https://cew.georgetown.edu/cew-reports/the-college-payoff/">National Center for Education Statistics (NCES). Tuition costs of colleges and universities. 2022.</a></li>
      <li class="source_link"><a href="https://www.forbes.com/advisor/student-loans/average-student-loan-statistics/">Forbes Advisor. 2022 Student Loan Debt Statistics: Average Student Loan Debt. 2022.</a></li>
      <li class="source_link"><a href="https://thenounproject.com/">The Noun Project. 2022.</a></li>
    </ul>
  </div>
</footer>