<div class="pagination-footer">
    <div class="inner">
        <div class="pagination">
            {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
            {% set nextPost = collections.posts | getNextCollectionItem(page) %}
            <div class="pagination_prev">
            {% if previousPost %}
                <span class="arrow">←</span>
                {% set post = previousPost %}
                {% include "thumb.njk" %}
            {% endif %}
            </div>
            <div class="pagination_next">
            {% if nextPost %}
                <span class="arrow">→</span>
                {% set post = nextPost %}
                {% include "thumb.njk" %}
            {% endif %}
            </div>
        </div>
    </div>
</div>

