<a class="thumb" href="{{post.url | url}}">
   {% set thumbLink = "/images/" + post.data.handle + "_thumb.png" %}
    <img src="{{thumbLink | url}}" alt="{{post.data.title}}">
    <div class="thumb_title">{{post.data.title}}</div>
    <div class="thumb_designer">{{post.data.designer}}</div>
</a>