* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.inner {
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1386px;
}

.inner img {
  width: 100%;
}

/* header */
.header {
  position: relative;
  color: #ccc;
  background-color: #1c1c1c;
  z-index: +9;
}
.header .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header a {
  color: inherit;
  text-decoration: none;
}

.site-title {
}
.site-title:hover {
  background: #333;
}
.site-title h1 {
  margin: 0;
  padding: 0 1em;
  font-size: 1em;
  line-height: 3em;
}

.site-nav {
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.nav_link {
}
.nav_link:hover {
  background: #47455c;
}
.nav_link:hover .subnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.nav_link_title {
  font-size: 1em;
  line-height: 3em;
  padding: 0 1em;
}

.subnav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  list-style: none;
  color: inherit;
  background: inherit;
}
.subnav_link {
  margin: 0.5em;
}
.subnav_link:hover {
  outline: 1px solid #fff;
}
.subnav_link a {
  display: block;
  width: 300px;
  padding: 0.5em;
  color: inherit;
  text-decoration: none;
}
.subnav_link_title {
}

/* sources */
.sources {
  margin: 0;
  padding: 0;
  max-width: 40rem;
  list-style-type: none;
}
.source_link {
  padding-left: 1.5em;
  text-indent: -1.5em;
}
.source_link a {
  text-decoration: none;
  color: inherit;
}
.source_link a:hover {
  text-decoration: underline;
}

/* main */
.main {
  margin-bottom: 0;
}
.header + .main {
  margin-top: 3em;
}

/* footer*/
.footer {
  margin: 3em 0;
  font-size: 0.75em;
  line-height: 1.5em;
}
.footer p {
  margin: 0;
}

/* thumb */
.thumb {
  display: block;
  width: 300px;
  padding: 0.5em;
  color: inherit;
  text-decoration: none;
}
.thumb img {
  width: 100%;
}

/* footer */
.pagination-footer {
  padding: 4em 0;
  color: #ccc;
  background-color: #1c1c1c;
}

/* pagination */
.pagination {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}
.pagination .arrow {
  font-size: 2em;
  padding: 0 0.5rem;
}
.pagination_prev {
  text-align: left;
}
.pagination_next{
  text-align: right;
}

.pagination .pagination_prev:hover,
.pagination .pagination_next:hover {
  background-color: #47455c;
}


/* browser-warning*/
@media (max-width: 1365px) {
  .main::after {
    content: "Please resize your browser to be at lease 1366px wide.";
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.5em 1em;
    width: 14em;
    font-size: 0.875em;
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
  }
}


