.inner {
    position: relative;
    padding: 0;
}

.btn {
    display: block;
    position: absolute;
    /* color:hsla(0, 1%, 57%, 0); */
    width: 375px;
    height: 190px;
    border-radius: 30px;
}
.btn:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
    color: white;
}