/* custom css styles go here */
* {
    
}

.bad {
    top: 3265px;
    left: 75px;

    color:hsla(0, 1%, 57%, 0);
    width: 375px;
    height: 300px;
    border-radius: 30px;
    text-align: center;
    align: center;
    position: absolute;
}
.bad:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
    color: white;
}

.alright {
    top: 3265px;
    left: 525px;

    width: 375px;
    height: 300px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.alright:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.excellent {
    top: 3265px;
    left: 975px;

    width: 375px;
    height: 300px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.excellent:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.bad-education {
    top: 6007px;
    left: 95px;

    width: 375px;
    height: 250px;
    border-radius: 25px;
    text-align: center;
    position: absolute;
}
.bad-education:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.bad-money {
    top: 6007px;
    left: 985px;

    width: 375px;
    height: 250px;
    border-radius: 25px;
    text-align: center;
    position: absolute;
}
.bad-education:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.bad-education-guidence {
    top: 6363px;
    left: 45px;

    width: 192px;
    height: 210px;
    border-radius: 15px;
    text-align: center;
    position: absolute;
}
.bad-education-guidence:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.bad-education-self {
    top: 6363px;
    left: 328px;

    width: 192px;
    height: 210px;
    border-radius: 15px;
    text-align: center;
    position: absolute;
}
.bad-education-self:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.restart {
    top: 6840px;
    left: 1040px;

    width: 270px;
    height: 270px;
    border-radius: 48px;
    text-align: center;
    position: absolute;
}
.restart:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.no {
    top: 6006px;
    left: 94px;

    width: 372px;
    height: 295px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.no:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.partially {
    top: 6006px;
    left: 544px;

    width: 372px;
    height: 295px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.partially:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.yes {
    top: 6006px;
    left: 992px;

    width: 372px;
    height: 295px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.yes:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.nocollege {
    top: 7726px;
    left: 95px;

    width: 372px;
    height: 295px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.nocollege:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.gapyear {
    top: 7726px;
    left: 545px;

    width: 372px;
    height: 295px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.gapyear:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.startschool {
    top: 7726px;
    left: 994px;

    width: 372px;
    height: 295px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.startschool:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.save {
    top: 8552px;
    left: 97px;

    width: 372px;
    height: 295px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.save:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.explore {
    top: 8552px;
    left: 548px;

    width: 372px;
    height: 295px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.explore:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.gapprogram {
    top: 8552px;
    left: 998px;

    width: 372px;
    height: 295px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.gapprogram:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.restartexplore {
    top: 9440px;
    left: 1040px;

    width: 270px;
    height: 270px;
    border-radius: 48px;
    text-align: center;
    position: absolute;
}
.restartexplore:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.khan {
    top: 9440px;
    left: 107px;

    width: 270px;
    height: 270px;
    border-radius: 48px;
    text-align: center;
    position: absolute;
}
.khan:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.codecamp {
    top: 9440px;
    left: 420px;

    width: 270px;
    height: 270px;
    border-radius: 48px;
    text-align: center;
    position: absolute;
}
.codecamp:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.youtube {
    top: 9440px;
    left: 730px;

    width: 270px;
    height: 270px;
    border-radius: 48px;
    text-align: center;
    position: absolute;
}
.youtube:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.no2 {
    top: 5380px;
    left: 94px;

    width: 372px;
    height: 295px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.no2:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.partially2 {
    top: 5380px;
    left: 544px;

    width: 372px;
    height: 295px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.partially2:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.yes2 {
    top: 5380px;
    left: 992px;

    width: 372px;
    height: 295px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.yes2:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.nocol {
    top: 7510px;
    left: 95px;

    width: 372px;
    height: 295px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.nocol:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.gap {
    top: 7510px;
    left: 547px;

    width: 372px;
    height: 295px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.gap:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}


.school {
    top: 7510px;
    left: 994px;

    width: 372px;
    height: 295px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
}
.school:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.scholarships {
    top: 8482px;
    left: 70px;

    width: 320px;
    height: 380px;
    border-radius: 37px;
    text-align: center;
    position: absolute;
}
.scholarships:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.finaid {
    top: 8482px;
    left: 423px;

    width: 320px;
    height: 380px;
    border-radius: 37px;
    text-align: center;
    position: absolute;
}
.finaid:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.state {
    top: 8482px;
    left: 773px;

    width: 320px;
    height: 380px;
    border-radius: 37px;
    text-align: center;
    position: absolute;
}
.state:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.credit {
    top: 8482px;
    left: 1123px;

    width: 320px;
    height: 380px;
    border-radius: 37px;
    text-align: center;
    position: absolute;
}
.credit:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.drop {
    top: 10349px;
    left: 320px;

    width: 240px;
    height: 290px;
    border-radius: 27px;
    text-align: center;
    position: absolute;
}
.drop:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}

.restartfinal {
    top: 11625px;
    left: 1160px;

    width: 180px;
    height: 140px;
    border-radius: 27px;
    text-align: center;
    position: absolute;
}
.restartfinal:hover {
    background-color: hsla(0, 0%, 28%, 0.567);
}