---
designer: "Serena Ng"
title: "Is College Worth it in the Long Run?"
handle: "ngserena_02"
layout: "infographic.njk"
unlisted: true
---
{% include "ngserena_02_page-head.njk" %}

<body>
  <main class="main">
    <div padding="0px 0px">
      <!-- 3. Put a description of your infographic in the alt tag (width = 1366) -->
      <img src="{{"/images/ngserena_02_alright-partially-gapyear-explore.png" | url}}" alt="Is College Worth it in the Long Run? Infographic" width="1425" z-index="2"> 
    </div>
  
    <!-- Bad Selection Box -->
    <a href="../bad/#bad" id="bad">
      <div class="bad">
      </div>
    </a>
  
    <!-- Alright Selection Box -->
    <a href="../alright/#alright">
      <div class="alright" id="alright">
      </div>
    </a>
  
    <!-- Excellent Selection Box -->
    <a href="../excellent/#excellent">
      <div class="excellent" id="excellent">
      </div>
    </a>
  
    <!-- No Selection Box -->
    <a href="../alright-no/#no" id="no">
      <div class="no">
      </div>
    </a>
  
    <!-- Partially Selection Box -->
    <a href="../alright-partially/#partially">
      <div class="partially" id="partially">
      </div>
    </a>
  
    <!-- Yes Selection Box -->
    <a href="../alright-yes/#yes">
      <div class="yes" id="yes">
      </div>
    </a>
  
    <!-- I don't want to go to college at all Selection Box -->
    <a href="../alright-partially-nocollege/#nocollege">
      <div class="nocollege" id="nocollege">
      </div>
    </a>
  
    <!-- I'd benefit from a gap year Selection Box -->
    <a href="../alright-partially-gapyear/#gapyear">
      <div class="gapyear" id="gapyear">
      </div>
    </a>
  
    <!-- I want to start school right away Selection Box -->
    <a href="../excellent-yes-school/#school">
      <div class="startschool" id="startschool">
      </div>
    </a>
  
    <!-- Work to save up money Selection Box -->
    <a href="../alright-partially-gapyear-save/#save">
      <div class="save" id="save">
      </div>
    </a>
  
    <!-- Explore skills on your own Selection Box -->
    <a href="../alright-partially-gapyear-explore/#explore">
      <div class="explore" id="explore">
      </div>
    </a>
  
    <!-- Attend a gap year program Selection Box -->
    <a href="../alright-partially-gapprogram/#gapprogram">
      <div class="gapprogram" id="gapprogram">
      </div>
    </a>
  
  
    <!-- Restart Quiz -->
    <a href="../">
      <div class="restartexplore" id="restartexplore">
      </div>
    </a>
  
    <!-- Khan Academy -->
    <a href="https://www.khanacademy.org/" target="_blank">
      <div class="khan" id="khan">
      </div>
    </a>
    
    <!-- FreeCodeCamp -->
    <a href="https://www.freecodecamp.org/learn" target="_blank">
      <div class="codecamp" id="codecamp">
      </div>
    </a>
  
    <!-- YouTube -->
    <a href="https://www.youtube.com/" target="_blank">
      <div class="youtube" id="youtube">
      </div>
    </a>
  
  
  
  </main>
{% include "ngserena_02_page-foot.njk" %}
<script>
// custom javascript goes here
</script>
</body>
</html>
