---
designer: "Serena Ng"
title: "Is College Worth it in the Long Run?"
handle: "ngserena_02"
layout: "infographic.njk"
unlisted: true
---
{% include "ngserena_02_page-head.njk" %}

<body>
  <main class="main">
  <div padding="0px 0px">
    <!-- 3. Put a description of your infographic in the alt tag (width = 1366) -->
    <img src="{{"/images/ngserena_02_alright.png" | url}}" alt="Is College Worth it in the Long Run? Infographic" width="1425" z-index="2"> 
  </div>

  <!-- Bad Selection Box -->
  <a href="../bad/#bad" id="bad">
    <div class="bad">
    </div>
  </a>

  <!-- Alright Selection Box -->
  <a href="../alright/#alright">
    <div class="alright" id="alright">
    </div>
  </a>

  <!-- Excellent Selection Box -->
  <a href="../excellent/#excellent">
    <div class="excellent" id="excellent">
    </div>
  </a>

  <!-- No Selection Box -->
  <a href="../alright-no/#no" id="no">
    <div class="no">
    </div>
  </a>

  <!-- Partially Selection Box -->
  <a href="../alright-partially/#partially">
    <div class="partially" id="partially">
    </div>
  </a>

  <!-- Yes Selection Box -->
  <a href="../alright-yes/#yes">
    <div class="yes" id="yes">
    </div>
  </a>

</main>
{% include "ngserena_02_page-foot.njk" %}
<script>
// custom javascript goes here
</script>
</body>
</html>
