---
designer: "Serena Ng"
title: "Is College Worth it in the Long Run?"
handle: "ngserena_02"
layout: "infographic.njk"
unlisted: true
---
{% include "ngserena_02_page-head.njk" %}
<body>
  <main class="main">
    <div class="inner alright-partially-gapyear-explore-page">
      <img src="{{"/images/ngserena_02_alright-partially-gapyear-explore.png" | url}}" alt="Is College Worth it in the Long Run? Infographic" width="1425" z-index="2"> 
      <a href="../bad/#bad" id="alright" class="btn" style="top: 3165px; left: 67px;"></a>
      <a href="../alright/#alright" id="alright"  class="btn" style="top: 3165px; left: 506px;"></a>
      <a href="../excellent/#excellent" id="excellent" class="btn" style="top: 3165px; left: 943px;"></a>
      <a href="../alright-no/#no" id="no" class="btn" style="top: 5830px; left: 88px;"></a>
      <a href="../alright-partially/#partially" id="partially" class="btn" style="top: 5830px; left: 520px;"></a>
      <a href="../alright-yes/#yes" id="yes" class="btn" style="top: 5830px; left: 960px;"></a>
      <a href="../alright-partially-nocollege/#nocollege" id="nocollege" class="btn" style="top: 7500px; left: 88px;"></a>
      <a href="../alright-partially-gapyear/#gapyear" id="gapyear" class="btn" style="top: 7500px; left: 520px;"></a>
      <a href="../excellent-yes-school/#school" id="school" class="btn" style="top: 7500px; left: 960px;"></a>
      <a href="../alright-partially-gapyear-save/#save" id="save" class="btn" style="top: 8303px; left: 88px;"></a>
      <a href="../alright-partially-gapyear-explore/#explore" id="explore" class="btn" style="top: 8303px; left: 520px;"></a>
      <a href="../alright-partially-gapprogram/#gapprogram" id="gapprogram" class="btn" style="top: 8303px; left: 960px;"></a>
      <a href="https://www.khanacademy.org/" target="_blank" class="btn" style="top: 9165px; left: 100px; width: 270px; height: 270px;"></a>
      <a href="https://www.freecodecamp.org/learn" target="_blank" class="btn" style="top: 9165px; left: 402px; width: 270px; height: 270px;"></a>
      <a href="https://www.youtube.com/" target="_blank" class="btn" style="top: 9165px; left: 704px; width: 270px; height: 270px;"></a>
      <a href="../" class="btn" style="top: 9165px; left: 1004px; width: 270px; height: 270px;"></a>
    </div>
  </main>
{% include "ngserena_02_page-foot.njk" %}
<script>
// custom javascript goes here
</script>
</body>
</html>
