---
designer: "Serena Ng"
title: "Is College Worth it in the Long Run?"
handle: "ngserena_02"
layout: "infographic.njk"
unlisted: true
---
{% include "ngserena_02_page-head.njk" %}
<body>
  <main class="main bad-education-self-page">
    <div class="inner">
      <img src="{{"/images/ngserena_02_bad-education-self.png" | url}}" alt="Is College Worth it in the Long Run? Infographic" width="1425" z-index="2"> 
      <a href="../bad/#bad" is="bad" class="btn" style="top: 3165px; left: 67px;"></a>
      <a href="../alright/#alright" id="alright" class="btn" style="top: 3165px; left: 506px;"></a>
      <a href="../excellent/#excellent" id="excellent" class="btn" style="top: 3165px; left: 943px;"></a>
      <a href="../bad-education/#bad-education" id="bad-education" class="btn" style="top: 5830px; left: 88px; height: 145px;"></a>
      <a href="../bad-money/#bad-money" id="bad-money" class="btn" style="top: 5830px; left: 948px; height: 145px;"></a>
      <a href="../bad-education-guidence/#bad-money-guidence" id="bad-money-guidence" class="btn" style="top: 6180px; left: 40px; width: 195px; height: 115px;"></a>
      <a href="../bad-education-self/#bad-educationy-self" id="bad-educationy-self" class="btn" style="top: 6180px; left: 312px; width: 195px; height: 115px;"></a>
      <!-- Restart Quiz -->
      <a href="../"></a>
    </div>
  </main>
{% include "ngserena_02_page-foot.njk" %}
<script>
</script>
</body>
</html>
