---
designer: "Serena Ng"
title: "Is College Worth it in the Long Run?"
handle: "ngserena_02"
layout: "infographic.njk"
unlisted: true
---
{% include "./page-head.njk" %}

<body>
  <main class="main">
    <div padding="0px 0px">
      <!-- 3. Put a description of your infographic in the alt tag (width = 1366) -->
      <img src="{{"/images/ngserena_02_excellent-yes.png" | url}}" alt="Is College Worth it in the Long Run? Infographic" width="1425" z-index="2"> 
    </div>
  
    <!-- Bad Selection Box -->
    <a href="../bad/#bad" id="bad">
      <div class="bad">
      </div>
    </a>
  
    <!-- Alright Selection Box -->
    <a href="../alright/#alright">
      <div class="alright" id="alright">
      </div>
    </a>
  
    <!-- Excellent Selection Box -->
    <a href="../excellent/#excellent">
      <div class="excellent" id="excellent">
      </div>
    </a>
  
    <!-- No Selection Box -->
    <a href="../excellent-no/#no2" id="no2">
      <div class="no2">
      </div>
    </a>
  
    <!-- Partially Selection Box -->
    <a href="../alright-partially/#partially">
      <div class="partially2" id="partially2">
      </div>
    </a>
  
    <!-- Yes Selection Box -->
    <a href="../excellent-yes/#yes2">
      <div class="yes2" id="yes2">
      </div>
    </a>
  
    <!-- I don't want to go to college at all. Selection Box -->
    <a href="../excellent-yes-nocol/#nocol">
      <div class="nocol" id="nocol">
      </div>
    </a>
  
    <!-- I'd benefit from a gap year Selection Box -->
    <a href="../alright-partially-gapyear/#gapyear">
      <div class="gap" id="gap">
      </div>
    </a>
  
    <!-- I want to start school right away Selection Box -->
    <a href="../excellent-yes-school/#school">
      <div class="school" id="school">
      </div>
    </a>
  
  </main>
{% include "./page-foot.njk" %}
<script>
// custom javascript goes here
</script>
</body>
</html>
