---
designer: "Serena Ng"
title: "Is College Worth it in the Long Run?"
handle: "ngserena_02"
layout: "infographic.njk"
unlisted: true
---
{% include "ngserena_02_page-head.njk" %}

<body>
  <main class="main excellent-yes-page">
    <div class="inner">
      <img src="{{"/images/ngserena_02_excellent-yes.png" | url}}" alt="Is College Worth it in the Long Run? Infographic" width="1425" z-index="2"> 
      <a href="../bad/#bad" id="bad" class="btn" style="top: 3165px; left: 67px;"></a>
      <a href="../alright/#alright" id="alright" class="btn" style="top: 3165px; left: 506px;"></a>
      <a href="../excellent/#excellent" id="excellent" class="btn" style="top: 3165px; left: 943px;"></a>
      <a href="../excellent-no/#no2" id="no2" class="btn" style="top: 5225px; left: 88px;"></a>
      <a href="../alright-partially/#partially" id="partially" class="btn" style="top: 5225px; left: 520px;"></a>
      <a href="../excellent-yes/#yes2" id="yes2" class="btn" style="top: 5225px; left: 960px;"></a>
      <a href="../excellent-yes-nocol/#nocol" id="nocol" class="btn" style="top: 7290px; left: 88px;"></a>
      <a href="../alright-partially-gapyear/#gapyear" id="gapyear" class="btn" style="top: 7290px; left: 520px;"></a>
      <a href="../excellent-yes-school/#school" id="school" class="btn" style="top: 7290px; left: 960px;"></a>
    </div>
  </main>
{% include "ngserena_02_page-foot.njk" %}
<script>
// custom javascript goes here
</script>
</body>
</html>
