---
designer: "Serena Ng"
title: "Is College Worth it in the Long Run?"
handle: "ngserena_02"
layout: "infographic.njk"
unlisted: true
---
{% include "ngserena_02_page-head.njk" %}
<body>
  <main class="main excellent-yes-school-page">
    <div class="inner">
      <img src="{{"/images/ngserena_02_excellent-yes-school.png" | url}}" alt="Is College Worth it in the Long Run? Infographic" width="1425" z-index="2"> 
      <a href="../bad/#bad" class="btn" style="top: 3165px; left: 67px;"></a>
      <a href="../alright/#alright"  class="btn" style="top: 3165px; left: 506px;"></a>
      <a href="../excellent/#excellent"  class="btn" style="top: 3165px; left: 943px;"></a>
      <a href="../excellent-no/#no2" id="no2" class="btn" style="top: 5225px; left: 88px;"></a>
      <a href="../alright-partially/#partially" class="btn" style="top: 5225px; left: 520px;"></a>
      <a href="../excellent-yes/#yes2" class="btn" style="top: 5225px; left: 960px;"></a>
      <a href="../excellent-yes-nocol/#nocol" class="btn" style="top: 7290px; left: 88px;"></a>
      <a href="../alright-partially-gapyear/#gapyear" class="btn" style="top: 7290px; left: 520px;"></a>
      <a href="../excellent-yes-school/#school" class="btn" style="top: 7290px; left: 960px;"></a>
      <a href="https://www.fastweb.com/" target="_blank" class="btn" style="top: 8245px; left: 68px; width: 305px; height: 360px;"></a>
      <a href="https://studentaid.gov/h/apply-for-aid/fafsa" target="_blank" class="btn" style="top: 8245px; left: 408px; width: 305px; height: 360px;"></a>
      <a href="https://www.umass.edu/" target="_blank" class="btn" style="top: 8245px; left: 754px; width: 305px; height: 360px;"></a>
      <a href="https://apstudents.collegeboard.org/getting-credit-placement/search-policies" target="_blank" class="btn" style="top: 8245px; left: 1092px; width: 305px; height: 360px;"></a>
      <a href="../"></a>
      <a href="../"></a>
    </div>
  </main>
{% include "ngserena_02_page-foot.njk" %}
<script>
// custom javascript goes here
</script>
</body>
</html>
